<div class="container-fluid">
    <div class="row">
        <div class="col-3 home">
            <a href=""><span class="logo"><i class="fas fa-wrench"></i> SERENE</span></a>
        </div>
        <div class="col-6 nav">
            <a routerLink="/home" routerLinkActive="active" class="nav-item">HOME</a>
            <a routerLink="/shop" routerLinkActive="active" class="nav-item">SHOP</a>
            <a routerLink="/about" routerLinkActive="active" class="nav-item">ABOUT</a>
            <a routerLink="/news" routerLinkActive="active" class="nav-item">NEWS</a>
            <a routerLink="/post" routerLinkActive="active" class="nav-item">POST</a>
        </div>
        <div class="col-3 account">
            <a routerLink="/login" routerLinkActive="active">
                <i class="fas fa-user-circle"></i> LOGIN</a>
        </div>
    </div>
</div>